@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radial-gradient-background: 250, 250, 250;
  --solid-color-background: 15, 15, 15;
  --overlay-color: 255, 255, 255;
}

body {
  font-family: "var(--quicksand-font)", "Quicksand", sans-serif;

  color: #1a1a1a;
  background-color: #f2f2f2;
}

body,
html {
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

@layer base {
  h1 {
    @apply font-quicksand text-[56px]/[58px] font-bold;
  }
  h2 {
    @apply font-quicksand text-[44px]/[44px] font-bold;
  }
  h3 {
    @apply font-quicksand text-[28px]/[32px] font-bold;
  }
  h4 {
    @apply font-quicksand text-[24px]/[28px] font-bold;
  }
  h5 {
    @apply font-quicksand text-[20px]/[24px] font-bold;
  }
  label {
    @apply font-quicksand font-medium;
  }
  p {
    @apply font-quicksand whitespace-normal font-medium;
  }
  a {
    @apply font-quicksand font-medium;
  }
  button {
    @apply font-quicksand font-medium;
  }
}

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
  .col-center {
    @apply flex flex-col items-center justify-center;
  }
  .row {
    @apply flex flex-row items-center;
  }

  .col {
    @apply flex flex-col;
  }

  .row-center {
    @apply flex flex-row items-center justify-center;
  }

  .row-between {
    @apply flex flex-row items-center justify-between;
  }

  .base-layout {
    @apply px-6 pb-6 min-[1440px]:px-8 min-[1920px]:px-10;
  }

  .base-layout-l {
    @apply pb-6 pl-6 min-[1440px]:pl-8 min-[1920px]:pl-10;
  }

  .base-layout-r {
    @apply pb-6 pr-6 min-[1440px]:pr-8 min-[1920px]:pr-10;
  }

  .base-layout-m {
    @apply mx-6 mb-6 min-[1440px]:mx-8 min-[1920px]:mx-10;
  }

  .base-layout-m-r {
    @apply mr-6 min-[1440px]:mr-8 min-[1920px]:mr-10;
  }

  .base-layout-m-l {
    @apply ml-6 min-[1440px]:ml-8 min-[1920px]:ml-10;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .row {
    @apply flex flex-row items-center;
  }

  .col {
    @apply flex flex-col;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .bgCircle-status-new {
    @apply bg-[#17A52D];
  }

  .status-new {
    @apply border-[#17A52D] bg-[#DFF8E3];
  }

  .status-new-active {
    @apply border-[#17A52D] bg-[#17A52D];
  }

  .bgCircle-status-prime {
    @apply bg-[#1B7785];
  }

  .status-prime {
    @apply border-[#1B7785] bg-[#EDF7F9];
  }

  .status-prime-active {
    @apply border-[#1B7785] bg-[#1B7785] text-white;
  }

  .bgCircle-status-pending {
    @apply bg-[#FFBB00];
  }

  .status-pending {
    @apply border-[#FFBB00] bg-[#FFF5E6];
  }

  .status-pending-active {
    @apply border-[#FFBB00] bg-[#FFBB00] text-neutral-element-tertiary;
  }

  .bgCircle-status-archived {
    @apply bg-[#764EEC];
  }

  .status-archived {
    @apply border-[#764EEC] bg-[#F2EEFE];
  }

  .status-archived-active {
    @apply border-[#764EEC] bg-[#764EEC] text-white;
  }

  .bgCircle-status-close {
    @apply bg-elementIndicator-neutral-bold;
  }

  .status-close {
    @apply border-elementIndicator-neutral-bold bg-neutral-surface;
  }

  .status-close-active {
    @apply border-elementIndicator-neutral-bold bg-elementIndicator-neutral-bold text-neutral-element-tertiary;
  }

  .bgCircle-status-blocked {
    @apply bg-[#E81F1C];
  }

  .status-blocked {
    @apply border-[#E81F1C] bg-[#FDE9E9];
  }

  .status-blocked-active {
    @apply border-[#E81F1C] bg-[#E81F1C] text-white;
  }

  .bgCircle-status-white {
    @apply bg-[#FFFFFF];
  }

  .bgCircle-status-black {
    @apply bg-neutral-element-primary;
  }

  .tag-interested {
    @apply bg-[#2EC5E4];
  }

  .tag-referral {
    @apply bg-[#FB3273];
  }

  .tag-coldEmail {
    @apply bg-[#FFAD46];
  }

  .tag-dm {
    @apply bg-[#2BD687];
  }

  .tag-new {
    @apply bg-[#B99AFF];
  }
}

/* .ant-form-item-label {
  padding-bottom: 4px !important;
} */
.listbox {
  width: 100%;
  max-height: 16rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-padding-top: 1.5rem;
  scroll-padding-bottom: 1.5rem;
}

/* active cell */
td:has(.active-cell) {
  background-color: #ffc5c6;
}

/* date picker */
[role="button"] {
  width: 40px;
  height: 40px;
}

/* date input */
.date-input [data-slot="base"] [data-slot="input-wrapper"] {
  @apply h-[60px] rounded-lg border border-neutral-stroke-light;
}

.date-input [data-slot="base"] [data-slot="label"] {
  @apply text-sm text-neutral-element-secondary;
}

.date-input [data-slot="base"] [data-slot="input-field"] {
  @apply text-base text-neutral-element-primary;
}

[data-slot="grid-header-cell"] {
  width: 40px;
}

[data-slot="calendar"] {
  min-height: 314px !important;
}

/* borrower-list-tabs scroll*/
/* width */
.borrower-list-tabs::-webkit-scrollbar {
  height: 2px;
}

/* Track */
.borrower-list-tabs::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.borrower-list-tabs::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  border-radius: 10px;
}

/* Handle on hover */
.borrower-list-tabs::-webkit-scrollbar-thumb:hover {
  background: rgb(106, 105, 105);
}

/* phone number input */
.react-tel-input .form-control {
  width: 100% !important;
}

/* custom accordion */
.custom-accordion > div {
  padding: 0 !important;
}

.custom-accordion > div > div {
  opacity: 100 !important;
}

/* my range input */
.data-\[selected\=true\]\:bg-primary[data-selected="true"] {
  background-color: #ac2125 !important;
  border-radius: 8px !important;
}

/* linkify */
.linkifyContainer a {
  color: #0065d1;
}

/* scrollbar custom */
/* width */
.scrollbar-sm::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

/* Track */
.scrollbar-sm::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cecece !important;
  border-radius: 10px !important;
}

/* Handle */
.scrollbar-sm::-webkit-scrollbar-thumb {
  background: #9a9a9a !important;
  border-radius: 10px !important;
}

/* Handle on hover */
.scrollbar-sm::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d !important;
}

[role="menuitem"][data-hover="true"] {
  background-color: #f2f2f2 !important;
}

/* Handle on hover button */
.btn-shiny {
  position: relative;
  overflow: hidden;
}

.btn-shiny::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.btn-shiny.shine-forward::before,
.btn-shiny.shine-reverse::before {
  opacity: 1;
  visibility: visible;
}

.btn-shiny.shine-forward::before {
  left: -75%;
  animation: shine-forward 0.6s forwards;
}

.btn-shiny.shine-reverse::before {
  left: 125%;
  animation: shine-reverse 0.6s forwards;
}

@keyframes shine-forward {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@keyframes shine-reverse {
  0% {
    left: 125%;
  }
  100% {
    left: -75%;
  }
}

.container-page {
  @apply mx-auto w-full max-w-[2000px] px-[50px];
}
